.uno{
  background-color: green;
}
.dos{
  background-color: yellow;
}
.tres{
  background-color: orange;
}
.cuatro{
  background-color: red;
}
.cinco{
  background-color: lightblue;
}
.seis{
  background-color: lightsalmon;
}